<!-- <h1 mat-dialog-title>Reminder: Tiffin for Tomorrow</h1>
<div mat-dialog-content>
    <p>Do you want to mark tiffin availability for tomorrow?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="markTiffin(true)">Yes, Veg</button>
    <button mat-button (click)="markTiffin(false)">Yes, Non-Veg</button>
    <button mat-button (click)="onClose()">No, Close</button>
</div> -->


<!-- <h1 mat-dialog-title>Reminder: Tiffin for Tomorrow</h1>
<div mat-dialog-content>
    <p>Do you want to mark tiffin availability for tomorrow?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="markTiffin('veg')">Yes, Veg</button>
    <button mat-button (click)="markTiffin('non-veg')">Yes, Non-Veg</button>
    <button mat-button (click)="markTiffin('none')">No tiffin for tomorrow</button>
</div> -->


<h1 mat-dialog-title>Reminder: Tiffin for Tomorrow</h1>
<div mat-dialog-content>
    <p>Do you want to mark tiffin availability for tomorrow?</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="markTiffin('veg')">Yes, Veg</button>
    <button mat-button (click)="markTiffin('non-veg')">Yes, Non-Veg</button>
    <button mat-button (click)="markTiffin('none')">No tiffin for tomorrow</button>
</div>