<!-- <mat-card>
    <mat-card-title>Tiffin Management</mat-card-title>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="totalDays">
        <mat-header-cell *matHeaderCellDef> Total Days </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.totalDays}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="totalAmount">
        <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> ₹{{element.totalAmount}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="paymentStatus">
        <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.paymentStatus}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
   -->

<!-- <mat-card>
  <mat-card-title>Monthly Tiffin Report</mat-card-title>
  <mat-form-field>
    <mat-label>Select Month</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="monthControl" (dateChange)="onMonthChange($event)">
    <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)"
      (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalDays">
      <mat-header-cell *matHeaderCellDef> Total Days </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalDays}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> ₹{{element.totalAmount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentStatus">
      <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentStatus}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card> -->



<!-- <mat-card>
  <mat-card-title>Monthly Tiffin Report</mat-card-title>
  <mat-form-field>
    <mat-label>Select Month</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="monthControl" (dateChange)="onMonthChange($event)">
    <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)"
      (monthSelected)="chosenMonthHandler($event, picker)" panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalDays">
      <mat-header-cell *matHeaderCellDef> Total Days </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.totalDays}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <mat-header-cell *matHeaderCellDef> Total Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> ₹{{element.totalAmount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentStatus">
      <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.paymentStatus}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card> -->


<!-- admin-monthend-tiffin.component.html -->
<!-- <div class="month-picker">
  <mat-form-field appearance="fill">
    <mat-label>Choose a month</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="monthControl">
    <mat-datepicker #picker startView="multi-year" (monthSelected)="chosenMonthHandler($event, picker)" (yearSelected)="chosenYearHandler($event, picker)" panelClass="example-month-picker"></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="totalDays">
    <th mat-header-cell *matHeaderCellDef> Total Days </th>
    <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<!-- test-1 -->
<!-- admin-monthend-tiffin.component.html -->
<!-- <div class="month-picker">
  <mat-form-field appearance="fill">
    <mat-label>Choose a month</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="monthControl" (dateChange)="onMonthChange()">
    <mat-datepicker #picker startView="multi-year" panelClass="example-month-picker"></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="totalDays">
    <th mat-header-cell *matHeaderCellDef> Total Days </th>
    <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<!-- test-2 -->
<!-- admin-monthend-tiffin.component.html -->

<!-- <div class="month-picker">
  <mat-form-field appearance="fill">
    <mat-label>Choose a month</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="monthControl" (dateChange)="onMonthChange()">
    <mat-datepicker #picker startView="multi-year" panelClass="example-month-picker"></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <ng-container matColumnDef="totalDays">
    <th mat-header-cell *matHeaderCellDef> Total Days </th>
    <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAmount">
    <th mat-header-cell *matHeaderCellDef> Total Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
  </ng-container>

  <ng-container matColumnDef="paymentStatus">
    <th mat-header-cell *matHeaderCellDef> Payment Status </th>
    <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<!-- test-3 -->
<!-- admin-monthend-tiffin.component.html -->
<div class="month-picker">
    <mat-form-field appearance="fill">
        <mat-label>Choose a month</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="monthControl" (dateChange)="onMonthChange()">
        <mat-datepicker #picker startView="multi-year" panelClass="example-month-picker"></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="totalDays">
        <th mat-header-cell *matHeaderCellDef> Total Days </th>
        <td mat-cell *matCellDef="let element"> {{element.totalDays}} </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef> Total Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.totalAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef> Payment Status </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>