<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">Tiffin Management App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn()" [routerLink]="isAdmin() ? '/admin/dashboard' : '/dashboard'">
            Dashboard
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/login">Tiffin Management App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isLoggedIn()" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <!-- Conditional Dashboard Link -->
          <a class="nav-link" *ngIf="isLoggedIn()" [routerLink]="isAdmin() ? '/admin/dashboard' : '/dashboard'">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn()" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>