<!-- <div *ngIf="payments && payments.length > 0"> -->
    <div>
    <h2>Payment Status</h2>
    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Payment Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let payment of payments">
                <td>{{ payment.userId }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.status }}</td>
                <td>{{ payment.paymentDate | date }}</td>
                <td>
                    <button *ngIf="payment.status === 'Pending'" (click)="updatePaymentStatus(payment)">Mark as
                        Completed</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div *ngIf="!payments || payments.length === 0">
    <p>No payments found.</p>
</div> -->