.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 86vh;
    background-image: url('/assets/Images/istockphoto-1460743663-612x612.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mark-tiffin-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    top: 58px;
}

.mark-tiffin-container:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3f51b5;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

mat-form-field:hover {
    background-color: #ececec;
}

mat-checkbox {
    margin-bottom: 16px;
    color: #3f51b5;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3f51b5;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #303f9f;
}

@media (max-width: 768px) {
    .mark-tiffin-container {
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 14px;
    }
}