<!-- <div class="container">
    <h2>User List</h2>
    <mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.fullName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tiffinStatus">
            <mat-header-cell *matHeaderCellDef> Tiffin Status </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.tiffinStatus}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['fullName', 'email', 'tiffinStatus']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['fullName', 'email', 'tiffinStatus'];"></mat-row>
    </mat-table>
</div> -->


<!-- <div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h2>User List</h2>
    <mat-table [dataSource]="users" class="mat-elevation-z8" fxFlex="100">
        
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.fullname}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="tiffinStatus">
            <mat-header-cell *matHeaderCellDef> Tiffin Status </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.tiffinStatus}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['fullName', 'email', 'tiffinStatus']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['fullName', 'email', 'tiffinStatus'];"></mat-row>
    </mat-table>
</div> -->




<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <h2>User List</h2>
    <mat-table [dataSource]="users" class="mat-elevation-z8" fxFlex="100">
        <!-- columns definitions -->
        <!-- <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user._id }} </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="slNo">
            <mat-header-cell *matHeaderCellDef> SL No. </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.slNo }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fullName">
            <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.fullname }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['slNo', 'fullName', 'email']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['slNo', 'fullName', 'email'];"></mat-row>
    </mat-table>
</div>